body {
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
  color: #000;
}
body nav {
  height: 40px;
  background: orange;
  display: flex;
}
body nav a {
  flex: 1;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
}
#content p {
  text-align: center;
}
